#cardPesquisas {
    padding: 3vh 2vw;
    background: #081226;
    border: 1px solid #263b68;
    border-radius: 14px;
    color: white;
    transition: 0.3s;
    max-width: 90%;
}

#cardPesquisas:hover {
    transform: translateY(-5px);
    border-color: #5865f2;
}

#cardPesquisas h2 {
    margin: 0 0 1vh;
    font-size: clamp(0.5rem, 1.3rem, 1.7rem);
    font-weight: 600;
    color: #ffffff;
}

#cardPesquisas h3 {
    font-size: clamp(0.5rem, 1rem, 1.3rem);
    font-weight: 400;
    line-height: 1.6;
    color: rgb(155, 155, 179);
}