body {
    background-color: #050b16;
}

#inicio h1 {
    margin-top: 10vh;
    margin-left: 7vw;
    margin-bottom: 1vh;
    font-size: clamp(3.5rem, 5.2rem, 6rem);
    color: #e8eaff;
}

#inicio h1 span {
    background: linear-gradient(90deg, #818cf8, #e879f9);
    background-clip: text;
    color: transparent;
}

#inicio h2 {
    margin: 0vh 7vw;
    font-size: clamp(1.4rem, 2.2rem, 3rem);
    font-weight: 400;
    color: #d1d3eb;
}

#inicio h3 {
    margin: 0 7vw;
    font-size: clamp(1rem, 1.3rem, 1.5rem);
    font-weight: 400;
    line-height: 1.6;
    color: rgb(155, 155, 179);
}

#pesquisas h1{
    color: rgb(255, 248, 248);
    text-align: center;
    margin-bottom: 1vw;
    margin-top: 3vw;
    font-size: clamp(2rem, 3rem, 4rem);
}
#pesquisas #cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-items: center;
}

